html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding-top: 30px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}
footer {
  padding: 10px 0;
}

.authors {
  font-size: 20px;
}
.container {
  max-width: 1000px;
}
p {
  font-size: 16px;
}

li {
  font-size: 16px;
}
h1 {
  font-weight: bold;
}
h2 {
    text-align: center;
    align: center;
}

.jumbotron{
    text-align: center;
}


@media (max-width: 768px) {
  .btn {
    font-size:12px;
    padding:4px 6px;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size:14px;
    padding:6px 12px;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size:16px;
    padding:6px 12px;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding:6px 12px;
    font-size:18px;
  }
}


.jumbotron h2 {
  font-size: 36px;
}

.section {
  padding-top: 30px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  width:75%;
  font-size:14px
}

.canvas-row canvas {
  max-width:100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.vspace-top {
    margin-top: 30px;
}

.gradientbackground{
  margin:15px 30px 0px 30px;
  border-radius:10px;
  background-color: #ced8ef;
background-image: linear-gradient(135deg, #ced8ef, #cee8ef);

}

.imgbackground{
  background: 
  linear-gradient(
  rgba(255, 255, 255, 0.75), 
  rgba(255, 255, 255, 0.0)
  ),
  url(img/titleimage.jpg);
  background-repeat: no-repeat;
  height: 456px;
}
